:root {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
header {
    display: flex;
    justify-content: center;
}
header h1 {
    font-size: 2.5rem;
}
main {
    display: grid;
    place-content: center;
}
.formDiv{
    display: flex;
    flex-direction: column;
    width: 17rem;
}
.height2 {
    height: 2rem;
}
#secondPlayer {
    margin-left: auto;
}
#gameGrid {
    display: grid;
    grid-template-columns: 5.3rem 5.3rem 5.3rem;
    grid-template-rows: 5.3rem 5.3rem 5.3rem;
    gap: 0.5rem;
}
#gameGrid > * {
    border: 0.1rem black solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
#gameGrid > *:hover {
    background-color: #E8E8E8;
}
.visible {
    display: flex;
}
.invisible {
    display: none !important;
}